$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Russo One', sans-serif;
$primary-color: #ffffff;
$secondary-color: #000000;
$third-color: #eeeeee;
$fourth-color: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%); 
$fifth-color: transparent;
$none: none;
$no-repeat: no-repeat;